.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;



  &__image {
    width: 100px;
    height: 100px;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    color: #E3E3E0;
    cursor: text;
  }


  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
  }
}